@media (min-width: 1184px) {
  .title-mdx {
    gap: 12px;
  }
  .app-ad {
    display: none;
  }
  .option-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-right: 64px; */
    /* max-width: 100%; */
    /* box-sizing: border-box; */
  }
  .login-lg {
    font-size: 14px;
  }
  .sub-title {
    padding: 70px 0 0 0;
  }
  .search-bar {
    padding: 8px 8px 8px 20px;
    width: 408px;
    border-radius: 32px;
    line-height: 22px;
  }

  .arrow-icon {
    display: none;
  }
  .arrow-icon-lg {
    background-color: #eb1700;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 9999px;
  }
  .hint-text {
    margin: 0 50px 0 auto;
  }
  .options {
    flex-direction: row;
    margin: 96px 0;
    padding: 12px;
  }
  .option-img {
    margin-right: 0;
    width: 154px;
    display: flex;
    justify-content: center;
  }
  .option {
    flex-direction: column;
    align-items: center;
    min-width: 350px;
  }
  .option-title {
    text-align: center;
  }
  .option-content {
    text-align: center;
  }
  .option-link {
    font-size: 18px;
  }
}
