body,
ul,
li,
a,
h1 {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
@font-face {
  font-family: "TTNorms-regular";
  src: url(https://typography.doordash.com/TTNorms-Regular.woff2);
}
@font-face {
  font-family: "TTNorms-medium";
  src: url(https://typography.doordash.com/TTNorms-Medium.woff2);
}
@font-face {
  font-family: "TTNorms-bold";
  src: url(https://typography.doordash.com/TTNorms-Bold.woff2);
}
@font-face {
  font-family: "TTNorms-extrabold";
  src: url(https://typography.doordash.com/TTNorms-ExtraBold.woff2);
}
@font-face {
  font-family: "TTNorms-extrabold";
  src: url(https://typography.doordash.com/TTNorms-ExtraBold.woff2);
}
:root {
  --TTNormsRegular: "TTNorms-regular";
  --TTNormsMedium: "TTNorms-medium";
  --TTNormsBold: "TTNorms-bold";
  --TTNormsExtraBold: "TTNorms-extrabold";
}


.new-item-open-app {
  /* display: grid; */
  display: none;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto 1fr auto;
  column-gap: 8px;
  margin-top: 16px;
  align-items: center;
  padding: 8px;
}
.open2 {
  width: auto;
  max-width: 100%;
  /* min-height: 32px; */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 6px 13px;
  border-radius: 9999px;
  height: fit-content;
  color: rgb(255, 255, 255);
  font-family: var(--TTNormsMedium), -apple-system, "BlinkMacSystemFont",
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;

  letter-spacing: -0.01px;
  text-decoration: none;
  text-transform: none;
  box-sizing: border-box;
  background-color: #eb1700ff;
  display: inline-flex;
  align-items: center;
  /* padding: 0 12px; */
}
.new-items-texts-title {
  color: #191919;
  font-family: "TTNorms", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.01px;
  text-decoration: none;
  text-transform: none;
  display: block;
  text-overflow: ellipsis;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  margin: 0px;
  padding: 0px;
}
.new-items-texts-sub-title {
  color: #606060;
  font-family: "TTNorms", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.01;
  text-transform: none;
  display: block;
  text-overflow: ellipsis;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  margin: 0px;
  padding: 0px;
}
.navbar-pos {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 16px;
  z-index: 1;
}

.navbar {
  padding-right: 24px;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
.login-button {
  color: rgb(25, 25, 25);
  font-size: 16px;
  font-weight: 700;
  font-family: var(--TTNormsBold), -apple-system, "BlinkMacSystemFont",
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 22px;
  letter-spacing: -0.01px;
  background-color: #fff;
  box-sizing: border-box;
  padding: 0 12px;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  border-radius: 20px;
  max-width: 100%;
  min-height: 32px;
  display: inline-flex;
}
.open-button {
  color: rgb(255, 255, 255);
  font-family: var(--TTNormsBold), -apple-system, "BlinkMacSystemFont",
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.01px;
  text-decoration: none;
  text-transform: none;
  box-sizing: border-box;
  background-color: #eb1700ff;
  display: inline-flex;
  align-items: center;
  border-radius: 999px;
  padding: 0 12px;
}
.hero-banner {
  height: 550px;
  position: relative;
  background: url("/doordash/assets/hero_mobile.png");
  background-size: cover;
  display: flex;
  flex-flow: column;
  width: 100%;
  justify-content: center;
  background-position: center center;
  align-items: center;
  background-repeat: no-repeat;
}
.hero-banner-items {
  display: flex;
  flex-flow: column;
  max-width: max-content;
  align-items: center;
}
.title {
  margin: 20px 0;
  gap: 8px;
  align-items: center;
}
.sub-title {
  font-size: 22px;
  font-weight: 900;
  letter-spacing: 0px;
  line-height: 28px;
  max-width: 350px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: var(--TTNormsBold), -apple-system, "BlinkMacSystemFont",
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  margin-bottom: 24px;
}
.search-bar {
  display: flex;
  min-height: 40px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 22px;
  padding: 4px 4px 4px 16px;
  align-items: center;
  max-width: 100%;
}
.search-icon {
  margin-right: 12px;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
}
.hint-text {
  display: inline-flex;
  align-items: center;
  flex-grow: 1;
  max-width: 100%;
  padding: 0;
  margin: 0 12px 0 auto;
  font-family: var(--TTNormsMedium), -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #687284;
  text-decoration: none;
  border: none;
}
.arrow-icon-lg {
  display: none;
}
.arrow-icon {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.person-icon {
  display: inline-flex;
  align-items: center;
}
.login-2 {
  font-size: 14px;
  margin-top: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  min-height: 32px;
  max-width: 100%;
  text-align: center;
}
.app-ad {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.margin-5 {
  margin: 0px 5px;
}
.app-ad-container {
  margin: 20px 20px 0;
  max-width: 400px;
  width: 64%;
  border-radius: 16px;
  display: flex;
  text-align: left;
  justify-content: left;
  gap: 8px;
  border: 1px solid rgb(231, 231, 231);
  background-color: rgb(247, 247, 247);
  box-sizing: border-box;
  padding: 20px;
}
.app-logo {
  background-color: #fff;
  padding: 8px;
  box-sizing: border-box;
  height: 60px;
  width: 60px;
  border-radius: 16px;
  border: 1px solid rgb(231, 231, 231);
}
.app-ad-title {
  line-height: 22px;
  margin-bottom: 4px;
  font-size: 18px;
  
  font-family: var(--TTNormsBold);
  letter-spacing: -0.04ch;
  color: rgb(25, 25, 25);
}
.app-ad-sub-title {
  font-size: 14px;
  color: rgb(118, 118, 118);
  line-height: 22px;
  margin-bottom: 8px;
  box-sizing: border-box;
  font-family: var(--TTNormsMedium);
  letter-spacing: 0px;
  
}
.get-app-button {
  display: inline-flex;
  min-height: 32px;
  align-items: center;
  justify-content: flex-start;
  border-radius: 24px;
  text-align: center;
  background-color: rgb(235, 23, 0);
  color: #fff;
  border: none;
  gap: 4px;
  padding: 0 12px;
}
/* 27-06-2024 */
.get-app-text {
  font-size: 14px;
  font-family: var(--TTNormsBold);
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0ch;
  text-align: center;
}
.section-2 {
  display: flex;
  justify-content: center;
}
.option-contents {
  max-width: 250px;
}
.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
  padding: 8px;
  box-sizing: border-box;
}
.option {
  display: flex;
  padding: 16px;
  align-items: flex-start;
  justify-content: center;
}
.option-img {
  width: 88px;
  margin-right: 32px;
  box-sizing: border-box;
}
.option-title {
  font-size: 32px;
  color: #191919;
  font-family: var(--TTNormsBold);
  font-weight: 700;
  line-height: 40px;
}
.option-content {
  font-size: 18px;
  font-family: var(--TTNormsMedium);
  font-weight: 500;
  line-height: 24px;
  color: #191919;
  letter-spacing: -0.01px;
}
.option-link {
  margin: 12px 0 0 0;
  color: #eb1700;
  font-size: 14px;
  font-family: var(--TTNormsBold);
  line-height: 20px;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  justify-content: center;
  letter-spacing: -0.01px;
}

.container-box {
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-width: 90%;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.container-box-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  overflow: clip;
  overflow-clip-margin: content-box;
}
.common-title {
  color: #191919;
  font-family: var(--TTNormsBold);
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  margin-top: 20px;
  max-width: 90%;
}
.common-sub-title {
  color: #191919;
  font-family: var(--TTNormsBold);
  font-size: 18px;
  /* font-weight: 700; */
  line-height: 22px;
  margin-top: 10px;
  text-align: left;
}
.common-content {
  margin-top: 10px;
  margin-top: 10px;
  color: #191919;
  font-family: var(--TTNormsMedium);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
}
.container-box-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 32px;
  border-radius: 999px;
  text-decoration: none;
  background-color: #eb1700;
  color: #ffff;
  border: none;
  padding: 0 12px;
  font-size: 14px;
  font-family: var(--TTNormsBold);
  font-weight: 700;
  line-height: 20px;
  margin-top: 20px;
}
img {
  overflow-clip-margin: content-box;
  overflow: clip;
}
.box-1 {
  margin-bottom: -300px;
}
.box-2 {
  background: rgb(254, 241, 238);
  padding-top: 320px;
}

.section-4 {
  background: url(../assets/grocery_desktop.png) center center/ cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section-4-display-flex {
  justify-content: center;
  background-color: rgba(30, 30, 30, 0.6);
  display: flex;
}
.grocery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
  max-width: 550px;
  height: 350px;
}
.convenience-stores-img {
  height: 180px;
  object-fit: cover;
  width: 100%;
}
.convenience-stores {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* sections-6 */
.section-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 20px 20px 20px;

}
.section-6-background{
  background-color: rgb(254, 241, 238);

}
.section-title {
  letter-spacing: -0.1px;
  text-align: center;
  max-width: 300px;
  font-family: var(--TTNormsBold);
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}
.scroll-container {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  scrollbar-width: none;
  width: 300%;
}
.margin-28{
  margin-top:28px;
}
.margin-24{
  margin-top:24px;
}
.item-inner-container-1 {
  margin-left: 5%;
  margin-right: -10%;
}
.item-inner-container-2 {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  box-sizing: border-box;
  min-width: 90%;
}
.section-6-img {
  height: 180px;
  object-fit: cover;
  width: 100%;
}
.item-container-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.item-container-text {
  text-align: center;
  max-width: 90%;
  margin-top: 20px;
  font-family: var(--TTNormsMedium);
  font-size: 24px;
  line-height: 28px;
 font-weight: 500;
}
.item-container-content {
  margin-top: 10px;
  text-align: center;
  font-family: var(--TTNormsMedium);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  box-sizing: border-box;
}
.item-container-warning-text{
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  font-family: var(--TTNormsBold);
  margin-top: 20px;
}
.section-6-container {
  background-color: rgb(254, 241, 238);
  overflow-x: scroll;
  scrollbar-width: none;
}
.cities-section{
  display: flex;
  justify-content: center;
}
.cities{
  padding: 48px 0;
  width: 100%;
  max-width: 1130px;
}
.cities-title{
  text-align: center;
  display: block;
  font-size: 18px;
  font-weight: 700;
  font-family: var(--TTNormsMedium);
  line-height: 22px;
  margin: 0 0 20px 0;
  letter-spacing: -0.01px;
}
.cities-buttons{
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}
.cities-button{
  box-sizing: border-box;
  width: 33.3%;
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: var(--TTNormsMedium);
}
.cities-button:nth-child(1){
  border-bottom: 3px solid #606060;
}
.cities-button:nth-child(2){
  opacity: 0.7;
  border-bottom: 3px solid #60606055;
}
.cities-button:nth-child(3){
  opacity: 0.7;
  border-bottom: 3px solid #60606055;
}
.top-cities{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.cities-text{
  max-width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  justify-content: center;
  font-family: var(--TTNormsMedium);
}
.category{
  padding: 42px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.category-title{
  font-size: 16px;
  font-family: var(--TTNormsMedium);
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0ch;
  color: #fff;
  margin-bottom: 8px;
}
.popular-category-items{
  text-align: center;
  width: 25%;
}
.category-items{
  text-align: center;
}
.category-item{
  color: rgb(196, 196, 196);
  font-size: 14px;
  font-family: var(--TTNormsMedium);
  line-height: 20px;
  letter-spacing: 0ch;
  margin-top: 8px;
}
footer{
  background-color: #191919;
}
.app-stores{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
}
.appstore{
  padding: 2px 8px;
  border-radius: 8px;
  background-color: rgb(73, 73, 73);
  display: flex;
  align-items: center;
  justify-content: center;
}
.playstore{
  padding: 2px 8px;
  border-radius: 8px;
  background-color: rgb(73, 73, 73);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:12px;
}
.social-icons{
  display: flex;
  gap: 12px;
}

.earth{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}
.final{
  display: flex;
  flex-wrap:wrap;
  max-width: 80%;
  margin-top: 12px;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}
.copyright-text{
  font-size: 12px;
  color: rgb(196, 196, 196);
  margin-left: 16px;
}
.category .login-button{
  font-family: var(--TTNormsRegular);
  font-weight: 500px;
  font-size: 14px;
  box-sizing: border-box;
}

.sm {
  display: flex;
}
.mdx {
  display: none;
}
.title-mdx {
  display: none;
}
.title-md {
  display: none;
}
.md {
  display: none;
}
.title-mdx {
  display: none;
}
