@media  (min-width: 960px) {
    .md{
        display: none;
    }
    .title-md{
        display: none;
    }
    .title-mdx{
        display: block;
        position: absolute;
        top: 0;
        margin: 24px 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    .mdx{
        display: flex;
    }
}
@media screen and (min-width: 1184px) {
    .app-ad{
        display: none;
    }
    .option-contents{
        display: flex;
        flex-direction: column;
        align-items: center;
        /* padding-right: 64px; */
        /* max-width: 100%; */
        /* box-sizing: border-box; */
    }
    .options{
        flex-direction: row;
        margin: 96px 0;
        padding: 12PX;
    }
    .option-img{
        margin-right: 0;
        width: 154px;
        display: flex;
        justify-content: center;
    }
    .option{
        flex-direction: column;
        align-items: center;
        min-width: 350px;
    }
        .option-title{
            text-align: center;
        }
    .option-content{
        text-align: center;
    }
    .option-link{
        font-size: 18px;
    }

}